@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";

@theme {

  /* Text Colors */
  --color-text-50: rgb(24, 2, 9);
  --color-text-100: rgb(48, 3, 19);
  --color-text-200: rgb(95, 7, 38);
  --color-text-300: rgb(143, 10, 57);
  --color-text-400: rgb(191, 13, 75);
  --color-text-500: rgb(238, 17, 94);
  --color-text-600: rgb(242, 64, 126);
  --color-text-700: rgb(245, 112, 159);
  --color-text-800: rgb(248, 160, 191);
  --color-text-900: rgb(252, 207, 223);
  --color-text-950: rgb(253, 231, 239);

  /* Background Colors */
  --color-background-50: rgb(23, 2, 12);
  --color-background-100: rgb(46, 5, 23);
  --color-background-200: rgb(93, 9, 47);
  --color-background-300: rgb(139, 14, 70);
  --color-background-400: rgb(186, 18, 94);
  --color-background-500: rgb(232, 23, 117);
  --color-background-600: rgb(237, 69, 145);
  --color-background-700: rgb(241, 116, 172);
  --color-background-800: rgb(246, 162, 200);
  --color-background-900: rgb(250, 209, 227);
  --color-background-950: rgb(253, 232, 241);

  /* Primary Colors */
  --color-primary-50: rgb(24, 1, 10);
  --color-primary-100: rgb(48, 3, 21);
  --color-primary-200: rgb(97, 5, 42);
  --color-primary-300: rgb(145, 8, 63);
  --color-primary-400: rgb(194, 10, 84);
  --color-primary-500: rgb(242, 13, 105);
  --color-primary-600: rgb(245, 61, 135);
  --color-primary-700: rgb(247, 110, 165);
  --color-primary-800: rgb(250, 158, 195);
  --color-primary-900: rgb(252, 207, 225);
  --color-primary-950: rgb(254, 231, 240);

  /* Secondary Colors */
  --color-secondary-50: rgb(24, 10, 1);
  --color-secondary-100: rgb(48, 20, 3);
  --color-secondary-200: rgb(97, 40, 5);
  --color-secondary-300: rgb(145, 60, 8);
  --color-secondary-400: rgb(194, 81, 10);
  --color-secondary-500: rgb(242, 101, 13);
  --color-secondary-600: rgb(245, 132, 61);
  --color-secondary-700: rgb(247, 162, 110);
  --color-secondary-800: rgb(250, 193, 158);
  --color-secondary-900: rgb(252, 224, 207);
  --color-secondary-950: rgb(254, 240, 231);

  /* Accent Colors */
  --color-accent-50: rgb(24, 16, 1);
  --color-accent-100: rgb(48, 32, 3);
  --color-accent-200: rgb(96, 63, 6);
  --color-accent-300: rgb(145, 95, 8);
  --color-accent-400: rgb(193, 126, 11);
  --color-accent-500: rgb(241, 158, 14);
  --color-accent-600: rgb(244, 177, 62);
  --color-accent-700: rgb(247, 197, 110);
  --color-accent-800: rgb(249, 216, 159);
  --color-accent-900: rgb(252, 236, 207);
  --color-accent-950: rgb(254, 245, 231);

  /* Fonts */
  --font-mySans: "Montserrat", sans-serif
}